<IfModule mod_headers.c>
    Header set Cache-Control "no-store, no-cache, must-revalidate"
    Header set Pragma "no-cache"
</IfModule>

Options -MultiViews
DirectoryIndex index.html
RewriteEngine On
RewriteBase /ny/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ny/index.html [L]